* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    background-color: rgb(17, 17, 17);
}

#myCanvas {
    background-color: rgb(20, 20, 20);
    margin: 100px auto;
    justify-content: center;
    border: 2px solid rgb(0, 255, 64);
    /* cursor: none; */
    border-radius: 20px;
}

#btn {
    background-color: rgb(0, 255, 64);
    width: 300px;
    height: 75px;
    text-align: center;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    outline: none
}

p {
    color: rgb(0, 255, 64);
    margin-bottom: 30px;
    font-size: 30px
}

#mainDiv {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
    width: 362px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: absolute;
    bottom: 45px;
    left: 60px;
    border: 2px solid rgb(0, 255, 64);
    border-radius: 20px;
    text-align: center
}

h1 {
    color: rgb(0, 255, 64);
    margin-bottom: 30px;
    font-size: 75px
}


#secondDiv {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 796px;
    width: 362px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: absolute;
    bottom: 50px;
    right: 60px;
    border: 2px solid rgb(0, 255, 64);
    border-radius: 20px;
    text-align: center
}

h2 {
    color: rgb(0, 255, 64);
    margin-bottom: 20px;
    font-size: 50px
}

.levs {
    background-color: rgb(0, 255, 64);
    width: 300px;
    height: 75px;
    text-align: center;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
}

#btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    width: 981px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: absolute;
    bottom: 48px;
    left: 424px;
    border: 2px solid rgb(0, 255, 64);
    border-radius: 20px;
    text-align: center;
    padding: 10px;

}

#pauseDiv {
    display: flex;
    align-items: center;
    height: fit-content;
    width: fit-content;
    font-weight: bold;
    position: absolute;
    top: 101px;
    right: 424px;
    text-align: center;

}

#pauseBtn {
    background-color: rgb(0, 255, 64);
    width: 50px;
    height: 50px;
    text-align: center;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 40px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    font-size: 20px
}

#rabbit {
    background-color: red;
}

#runners {
    background-color: aqua;
}

#hydra {
    background-color: yellow;
}