* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    background-color: rgb(17, 17, 17);
}

#myCanvas {
    background-color: rgb(20, 20, 20);
    margin: 100px auto;
    justify-content: center;
    border: 2px solid rgb(0, 255, 64)
}

#btn {
    background-color: rgb(0, 255, 64);
    width: 300px;
    height: 75px;
    text-align: center;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    outline: none
}

p {
    color: rgb(0, 255, 64);
    margin-bottom: 30px;
    font-size: 30px
}

#mainDiv {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 540px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: absolute;
    bottom: 405px;
    left: 50px;
    border: 2px solid rgb(0, 255, 64);
    border-radius: 20px;
    text-align: center
}

h1 {
    color: rgb(0, 255, 64);
    margin-bottom: 30px;
    font-size: 75px
}


#secondDiv {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 635px;
    width: 540px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: absolute;
    bottom: 405px;
    right: 50px;
    border: 2px solid rgb(0, 255, 64);
    border-radius: 20px;
    text-align: center
}

h2 {
    color: rgb(0, 255, 64);
    margin-bottom: 20px;
    font-size: 50px
}